<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Pokemon</h1>
    <h2><%=pokemon.name%></h2>
    <img src='<%=pokemon.img%>'/>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=pokemon.name%>">
        Type: <input type="text" name="type" value="<%=pokemon.type%>">
        HP: <input type="text" name="stats[hp]" 
        value="<%= (pokemon.stats.attack)%>"/>
        Attack: <input type="text" name="stats[attack]"
        value="<%= pokemon.stats.attack %>"/>
        Defense: <input type="text" name="stats[defense]"
        value="<%= pokemon.stats.defense %>"/><br />
        Special Attack: <input type="text" name="stats[spattack]" value="<%= pokemon.stats.spattack %>"/><br />
        Special Defense: <input type="text" name="stats[spdefense]" value="<%=pokemon.stats.spdefense %>"><br />
        Image: <input type="text" name="img" value="<%=pokemon.img%>">
        <br/>
        <input type="submit" name="" value="Submit Changes" />
    </form>
  </body>
</html>

