<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Pokedex</title>
</head>
<body>
    <h1> Pokemon </h1>
    <nav>
        <a class = "new-pokemon" href="/pokemon/new"><button type="button" >CREATE A NEW POKEMON</button></a>

      </nav>
    <img id="img" src="https://archives.bulbagarden.net/media/upload/4/4b/Pok%C3%A9dex_logo.png"></img>
    <a id="anchor" href="/new">Create a Pokemon</a>
    <ul>
        <% for(let i = 0; i < data.length; i++) { %>
        <li id="li">
            <a href="/<%=i%>"<%=data[i].name %>><img src='<%=data[i].img%>'/></a>
            <form id="form"action="/<%=i %>?_method=DELETE" method="POST" >
            <input type="submit" value="DELETE">
            </form>
            <a href="/<%=i %>/edit">Edit</a>
        </li>
        <% } %>
    </ul>
</body>
</html>