<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Pokedex</title>
</head>
<body>
    <h1><%= pokemon.name %></h1>
    <h2> 
        <img src="<%=pokemon.img %>" alt="Pokemon photo">
        Id:<%=pokemon.id; %> 
        Type: <%=pokemon.type; %>
        
        </h2>
        <li>
            <h3>Type <br /> <%= data.type %></h3>
            <div>
                <h3>Stats </h3>
                HP: <%= data.stats.hp %><br />
                Attack: <%= data.stats.attack %><br />
                Defense: <%= data.stats.defense%><br />
                Special Attack: <%= data.stats.spattack %><br />
                Special Defense: <%= data.stats.spdefense %><br />
                Speed:<%= data.stats.hp %><br />
            </div>
            <a href="/pokemon">Go Back</a>
            <p></p>
        </li>
    </ul>
</body>
</html>